<div style="color:cornflowerblue; text-align: center;">
    <h2>Naucna centrala</h2>
</div>

<div class="container">
    <h4>Unesite neophodne podatke:</h4>
    <br>
    <form [formGroup]="form" >

        <div class="form-group">
            <label for="secret">Coingate API token:</label>
            <input formControlName="secret" type="text" class="form-control" id="secret" required placeholder="Enter secret">
        </div>


        <button [disabled]="form.invalid" type="submit" (click)="onSubmit()" class="btn btn-primary">Posalji</button>
    </form>
</div>
