<div style="color:cornflowerblue; text-align: center;">
    <h2>Naucna centrala</h2>
  </div>

<div *ngIf="tasks.length != 0">
    <div class="container">
        <h3 >Potvrda recenzenata</h3>
    </div><br>

    <div class="container" *ngFor="let task of tasks">
        <table>
            <tr *ngFor="let field of task.formFields" > 
                <td>{{field.label}}</td>
                <td>{{field.defaultValue}}</td>
            </tr>
            <br>
            <tr>
                <td>
                    <button class="btn btn-primary" (click)="prihvati(task.taskId)">Prihvati</button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" (click)="odbij(task.taskId)">Odbij</button>
                </td> 
                <td></td> 
            </tr>
        
        </table><br><br>
    </div><br><br>
</div>

<div *ngIf="tasks.length == 0">
    <div class="container">
        <h4 >Trenutno nema recenzenata za potvrdu.</h4>
    </div><br><br>
</div>

<div>
    &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="nazad()">Nazad</button>
</div>


