<div style="color:cornflowerblue; text-align: center;">
  <h2>Naucna centrala</h2>
</div>

<nav class="navbar navbar-light bg-light"> 
  
  <table>
    <tr><a class="navbar-brand" [routerLink]="['/registration']" *ngIf="!isLoggedIn">Registracija korisnika</a></tr><br>
    <tr><a class="navbar-brand" [routerLink]="['/login']" *ngIf="!isLoggedIn">Prijava</a></tr>
    <tr><a class="navbar-brand" [routerLink]="['/casopisi']" *ngIf="isLoggedIn">Izaberite casopis</a></tr><br>
    <tr><a class="navbar-brand" [routerLink]="['/casopis']" *ngIf="isUrednik">Kreiranje casopisa</a></tr><br>
    <tr><a class="navbar-brand" [routerLink]="['/recenzenti']" *ngIf="isAdmin">Potvrda recenzenata</a></tr><br>
    <tr><a class="navbar-brand" [routerLink]="['/ispravka']" *ngIf="isUrednik">Ispravka podataka casopisa</a></tr><br>
    <tr><a class="navbar-brand" [routerLink]="['/casopis-admin']" *ngIf="isAdmin">Provera novog casopisa</a></tr><br>
    <tr><a class="navbar-brand" (click)="logOut()" style="cursor: pointer;" *ngIf="isLoggedIn">Odjava</a></tr>
  </table>

  </nav>
