<div style="color:cornflowerblue; text-align: center;">
    <h2>Naucna centrala</h2>
</div>

<div class="container">

    <br>
    <form [formGroup]="form" >
        <br>
        <br>
        <br>
        <br>
        <!-- <div class="form-group">
            <label for="clientId">Coingate API token:</label>
            <input formControlName="clientId" type="text" class="form-control" id="clientId" required placeholder="Enter clientId">
        </div>

        
        <div class="form-group">
            <label for="clientSecret">Coingate API token:</label>
            <input formControlName="clientSecret" type="text" class="form-control" id="clientSecret" required placeholder="Enter clientSecret">
        </div> -->
        <h5>PRETPLATITE SE NA 6 MESECI ZA 10$ MESECNO</h5>
        <br>
        <br>

        <button  type="submit" (click)="onSubmit()" class="btn btn-primary">PRETPLATA</button>
    </form>
</div>
