<div style="color:cornflowerblue; text-align: center;">
    <h2>Naucna centrala</h2>
</div><br>

<div class="container ">
  <h4>Unesite informacije o kartici:</h4>
  <br>
  <form [formGroup]="form" >
  
    <div class="form-group">
      <label for="pan">Pan:</label>
      <input formControlName="pan" type="text" class="form-control" id="pan" required placeholder="Enter pan">
    </div>
    <div class="form-group">
      <label for="cardholderName">Cardholder name:</label>
      <input formControlName="cardholderName" type="text" class="form-control" id="cardholderName" required placeholder="Enter cardholder name">
    </div>
    <div class="form-group">
      <label for="securityCode">Security code:</label>
      <input formControlName="securityCode" type="text" class="form-control" id="securityCode" required placeholder="Enter security code">
    </div>
    <div class="form-group">
      <label for="expirationDate">Expiration date (MM/yyyy):</label>
      <input formControlName="expirationDate" type="text" class="form-control" id="expirationDate" required placeholder="Enter expiration date">
    </div>

    <button [disabled]="form.invalid" type="submit" (click)="onSubmit()" class="btn btn-primary">Posalji</button>
  </form>
</div>